langchain==0.3.21
huggingface_hub==0.29.3
openai==1.68.2
chromadb==0.6.3
langchain-community==0.3.20
langchain_openai==0.3.10
lark==1.2.2
rank_bm25==0.2.2
numpy==2.2.4
scipy==1.15.2
scikit-learn==1.6.1
transformers==4.53.0
pypdf==5.4.0
markdown-pdf==1.7
tiktoken==0.9.0
sentence_transformers==4.0.0
torch==2.8.0
